<?xml version="1.0" ?>
<robot name="arena" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find arena_description)/urdf/materials.xacro" />
<xacro:include filename="$(find arena_description)/urdf/arena.trans" />
<link name="base_link">
  <inertial>
    <origin xyz="12.000000000000002 7.999999999999999 0.15071609078444373" rpy="0 0 0"/>
    <mass value="93375.38975607335"/>
    <inertia ixx="2248162.518846" iyy="4825902.231392" izz="7073437.885719" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="powder_coat_rough_green"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lines_1">
  <inertial>
    <origin xyz="2.1316282072803006e-14 -1.7763568394002505e-14 -0.024999999999999856" rpy="0 0 0"/>
    <mass value="6207.291096484064"/>
    <inertia ixx="151339.772467" iyy="410663.790844" izz="562000.976939" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-12.0 -8.0 -0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/lines_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="powder_coat_rough_white"/>
  </visual>
  <collision>
    <origin xyz="-12.0 -8.0 -0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/lines_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Goal_post_1_1">
  <inertial>
    <origin xyz="-0.3470758041525085 -0.04252346159721121 0.46666230053339774" rpy="0 0 0"/>
    <mass value="2527.7607834350138"/>
    <inertia ixx="2709.097075" iyy="534.987868" izz="2532.519199" ixy="16.368376" iyz="-11.358587" ixz="-127.45024"/>
  </inertial>
  <visual>
    <origin xyz="-1.0 -8.0 -0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/Goal_post_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="powder_coat_rough_white"/>
  </visual>
  <collision>
    <origin xyz="-1.0 -8.0 -0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/Goal_post_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Goal_post_1_2">
  <inertial>
    <origin xyz="0.3470758041526203 0.04252346159631415 0.46666230053339763" rpy="0 0 0"/>
    <mass value="2527.7607834350138"/>
    <inertia ixx="2709.097075" iyy="534.987868" izz="2532.519199" ixy="16.368376" iyz="11.358587" ixz="127.45024"/>
  </inertial>
  <visual>
    <origin xyz="-23.0 -8.0 -0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/Goal_post_1_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="powder_coat_rough_white"/>
  </visual>
  <collision>
    <origin xyz="-23.0 -8.0 -0.25" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arena_description/meshes/Goal_post_1_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 1" type="fixed">
  <origin xyz="12.0 8.0 0.25" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lines_1"/>
</joint>

<joint name="Rigid 2" type="fixed">
  <origin xyz="-11.0 0.0 0.0" rpy="0 0 0"/>
  <parent link="lines_1"/>
  <child link="Goal_post_1_1"/>
</joint>

<joint name="Rigid 3" type="fixed">
  <origin xyz="11.0 0.0 0.0" rpy="0 0 0"/>
  <parent link="lines_1"/>
  <child link="Goal_post_1_2"/>
</joint>

</robot>
